body{
    background-color: black;
}
a{
    color: antiquewhite;
}
.mygreen{
    color: rgb(255, 47, 47);
}   
.myBgWhite{
    background-color: antiquewhite;
}
#bravo{
    color: red;
    background: white;
}